.whole {
  background: linear-gradient(to right, #FFFFFF, rgb(121, 216, 245));
}

.menu {
  text-align: center;
  float: center;
}


h1 {
  color: black;
  font-size: 100px;
  font-family: "Poppins", "Regular 400";
  line-height: 50px;
  padding-top: 50px
  
}

a {
  color: black;
  font-family: "Copperplate", "Courier New", fantasy;
  font-size: 30px;
  padding: 0px 0px;
  word-wrap: normal;
  display: inline-block;
}
/* maybe delete */
a:link {
  text-decoration: none;
}
/* maybe delete */
a:visited {
  text-decoration: none;
}

.test ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.test ul li::after{
  content:'';
  width:0%;
  height:2px;
  background: rgb(0, 179, 134);
  display: block;
  margin: auto;
  transition:0.5s; 

}

.test ul li:hover::after{
  width:100%;
 
}

a:active {
  text-decoration: underline;
}


.background_Home {
  width: 30%;
  height: 30%;
}

.Home_statement {
  font-size: 100px;
  width: auto;
  padding: 50px;
  margin: 20px;
  margin-bottom: 0px;
}

.bodyText {
  padding: 0px;
  width: 500px;
  text-align: center;
  margin-left: 250px;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

th {
  padding:10px;
}
td {

  text-align:center;
  padding:10px;
}

.column {
  margin-top: 250px;
  margin-left: 100px;
  height: 100px;
}